<ol>
    <li>Dịch các câu sau sang tiếng Anh:
        <ul>
            <li>Chúc ngủ ngon</li>
            <li>Bài hát bảng chữ cái</li>
            <li>3 quyển vở</li>
            <li>Số điện thoại của bạn là gì ?</li>
            <li>Họ của bạn là gì?</li>
        </ul>
    </li>
    <li>Dịch các câu/chữ sau thành tiếng Việt
        <ul>
            <li>What is you last name?</li>
            <li>What is you telephone number?</li>
            <li>Number</li>
        </ul>
    </li>
    <li>Điên vào chỗ trống:
        <ul>
            <li>Tele _ _ one n_m_ _ _  </li>
            <li>Good e_ _ni_g</li>
            <li>_ _ _ d night</li>
        </ul>
    </li>
    <li>Trả lời các câu hỏi:
        <ul>
            <li>What is your name?</li>
            <li>What is you first name?</li>
            <li>Danh từ số ít là gì?</li>
            <li>Nguyên âm là gì?</li>
        </ul>
    </li>



</ol>