<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 
    {% block Title %}
    {% endblock Title %}
    </title>

</head>
<body>
    
    
    {% block Body %}
    <h1>Hello Phương, Trang, nhớ làm bài tập.</h1>
    <p><p><p></p></p></p>
    <h3>Bài tập tiếng anh ngày 1 (28-September)</h3>
    
    <ol>
        <li>Nguyên âm là gì? Định nghĩa nguyên âm</li>
        <li>Số ít là gì, số nhiều là gì? Trong danh từ, tính từ, động từ,
            loại nào có thể chia số ít số nhiều được?
        </li>
        <li>Dịch 2 câu sau thành tiếng Anh: 1/ Phương là con trai 2/ Trang là con gái</li>
        <li>Dịch nghĩa của các từ sau:
            <ol>
                <li>I</li>
                <li>You</li>
                <li>We</li>
                <li>He</li>
                <li>She</li>
                <li>It</li>
                <li>They</li>
            </ol>
        </li>
    </ol>
    
    <h4>Ngoài ra, 2 đứa nhớ học thuộc phát âm bản chữ cái</h4>
    <p>Tụi em học bảng chữ cái theo clip bên dưới</p> {{Homework.test}}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/75p-N9YKqNo" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen></iframe>
    {% endblock Body %}
    
    
</body>
</html>