{% extends 'base.html' %}


{% block Title %}
    Audio
{% endblock Title %}
    
{{MEDIA_URL}}
{% block Body %}
    <table class="table table-striped table-dark">
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Recording</th>            
        </tr>

        
        {% for recording in recording_list %}
            <tr>
                <td>{{recording.pk}}</td>
                <td>{{recording.title}}</td>
                <td><a href="{{recording.recording.url}}">{{recording.recording.url}}</a></td>
                <td><audio src="{{ recording.recording.url }}" controls></audio></td>
            </tr>
        {% endfor %}
    </table>
{% endblock Body %}
    